body {
  background-color:	#dc8e9c ;
  font-family: 'Poppins', sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
  display: inline;
  
}

li a:hover {
  background-color: black;
  width: 75%;
  height: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
display: flex;
width: 20%;
margin: auto;
align-content: center;
}

nav {
flex: auto;
float: none;
top: 50%;
left: 50%;

}

div, h1 {
text-align: center;
display: block;

}
